

// outer
a {
    text-decoration: none;
}


// outer wrapper
.outer-wrapper {
    width: 600px;
    margin: 40px auto;
    position: relative;
}

// main app
.app-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 30px;
}


// upload
.upload-container {
    width: 450px;
    padding: 0 5px;
    margin: 10px 0;
}

// item number
.banner-item-number {
	font-weight: 800;
    background: #3f51b5;
    padding: 1px 5px;
    color: white;
}


// history
.hisory-container {
    position: absolute;
    right: -80px;
    top: 0;
    padding: 10px 15px 5px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    background-color: #fff;
    cursor: pointer;
}