table {
  width: 100%;
  max-width: 900px;
  margin: 10px auto;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: center;
  padding: 10px 20px;
  font-weight: 300;
  background-color: white;
}